@tailwind base;
@tailwind components;
@tailwind utilities;
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 216;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  @apply font-amiri md:bg-[url('/bg.png')]  md:bg-fixed;
}
h1 {
  @apply text-5xl my-7 text-primary text-shadow shadow-primary text-center font-lateef;
}
section.contenu > p {
  @apply text-justify leading-7 indent-4 whitespace-normal text-lg mx-1 sm:mx-3;
}

ul.page > li {
  list-style-image: url(/marker.ico);
  margin-right: 8px;
}
@media only screen and (max-width: 768px) {
  figcaption {
    font-size: small;
  }
  h1 {
    font-size: x-large;
  }
}
p {
  @apply indent-4 leading-loose text-justify px-1;
}
table {
  @apply relative caption-top mx-auto w-fit block border-spacing-0 bg-inherit table-fixed border-none border-primary whitespace-nowrap;
}
table td,
table th {
  border: 1px solid;
  padding: 0.1rem 0.1rem;
}
table thead th {
  @apply border border-primary text-2xl;
}

table thead {
  @apply px-1 font-bold font-lateef text-2xl text-orange-800 text-center border;
}
table thead > tr:first-child > th:first-child {
  position: sticky;
  right: 0;
  z-index: 1;
  background: whitesmoke;
}
table tbody th {
  font-style: italic;
  padding-right: 6px;
  text-align: justify;
  position: sticky;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  color: black;
  border: 1px solid black;
}

table tbody td {
  border: 1.5px solid;
  @apply text-primary text-xl text-center;
}
tr#totaux tr {
  @apply border border-muted;
}
tr#totaux > td {
  @apply font-semibold text-center p-0 text-cyan-500 border-primary text-xl;
}

table th > p,
table td > p {
  @apply px-1 indent-0 text-center;
}

/** Cellule terres domaniales Page */
div#section {
  @apply container relative px-3 pb-4;
}
div#section > #ctd_c {
  @apply relative grid grid-cols-1 sm:grid-cols-2 gap-3;
}
div#section > #ctd_c > #ctd_l1 {
  @apply relative order-2 min-w-full overflow-x-auto sm:order-1;
}
div#section > #ctd_c > #ctd_l2 {
  @apply relative order-1 justify-start sm:order-2 mb-4;
}
div#ctd_l2 > img {
  @apply rounded-sm object-left-top shadow-lg shadow-primary aspect-4/3;
}
div#section > #ctd_c > #ctd_l1 > details {
  @apply cursor-pointer py-2 transition duration-1000 ease-in-out;
}

details summary {
  font-family: "lateef";
  text-indent: 2rem;
  text-decoration: underline;
  text-underline-offset: 12px;
  padding: 10px;
  font-size: x-large;
  line-height: 2.5rem;
  text-shadow: 1px 1px 2px hsl(var(--primary));
}
details ul {
  list-style-position: inside;
  list-style-type: none;
  margin-right: 0.5rem;
  white-space: "normal";
  line-height: 1.9rem;
  font-family: "amiri";
  font-size: 18px;
  font-weight: bolder;
  text-align: justify;
  font-variant-numeric: slashed-zero;
  padding-bottom: 0.4rem;
}
details ul > li {
  list-style-position: outside;
  list-style-type: disc;
  margin-right: 1.5rem;
  white-space: "normal";
  line-height: 1.9rem;
  font-family: "amiri";
  font-size: 16px;
  font-weight: bolder;
  text-align: justify;
  font-variant-numeric: slashed-zero;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}
details ul li > span {
  font-family: "lateef";
  font-size: 1.2rem;
  text-shadow: beige;
  color: rgb(37, 150, 190);
  opacity: 2;
  text-align: justify;
  line-height: 1.5rem;
  padding-top: 10px;
}
.scroll-btn {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.scroll-btn.visible {
  opacity: 1;
}
.scroll-btn:hover {
  background-color: rgb(5, 226, 226);
  transition: background-color 0.6s ease-in-out;
}
.view-container {
  @apply flex justify-end items-center mt-5 fixed bottom-[6px] right-[54px] bg-teal-500 shadow-md rounded-sm px-2 shadow-muted-foreground/100;
}
figure#image {
  position: relative;
  display: block;
  max-width: fit-content;

  @media (min-width: 640px) {
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    position: relative;
    filter: grayscale();
    height: auto;
    cursor: pointer;
  }
  img:hover {
    filter: grayscale(0);
    transition: all;
    transition-duration: 300ms;
  }
  figcaption {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0.1rem;
    font-size: 1.25rem;
    font-family: "lateef";
    border-end-end-radius: var(--radius);
    border-end-start-radius: var(--radius);
  }
}
figure.table {
  position: relative;
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-x: scroll;
  padding: 0;
  overflow-y: hidden;
  table {
    caption-side: top;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    * {
      padding-top: 0%;
      padding-bottom: 0%;
      text-align: center;
      font-size: medium;
    }
    thead * {
      font-size: large;
    }

    tbody > tr:last-child * {
      color: brown;
      font-size: large;
      text-align: center;
      height: auto;
      padding-top: 0%;
      padding-bottom: 0%;
    }
    tbody tr > th > p {
      text-align: right;
      border-top: 0px solid black;
    }
  }
}
video {
  aspect-ratio: 16/9;
  margin-inline: auto;
  border: 2px solid;
  border-radius: 2%;
}
* {
  transition: background 800ms ease-in-out;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --dark: 0 0% 100%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --dark: 222.86 84% 4.9%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.leaflet-left .leaflet-control {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.leaflet-tooltip {
  padding: 0px 4px !important;
  background-color: #fdd700 !important;
  box-shadow: 0 3px 2px rgb(15, 15, 15) !important;
}
